<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button icon="caret-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Regresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="orange-bar"></div>
  <div class="container">
    <h1 class="error-title">Error 404</h1>
    <h2> Página no encontrada </h2>
    <img src="https://media.tenor.com/Zuq7vCIAeCYAAAAM/cat-close-door.gif" alt="Imagen de error 404" class="error-image" />
    <p class="error-description">
      ¡El gato ha cerrado la puerta y no tiene intenciones de abrirla!
    </p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-box">
    <ion-title class="footer-title">{{footerTitle}}</ion-title>
  </ion-toolbar>
</ion-footer>