<ion-header [translucent]="true" >
  <ion-toolbar >
    <ion-title class="title-with-icon">
      RollCall-QR
      <ion-icon class="qr-icon" name="qr-code-sharp"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-img-box">
    <img class="main-img" src="../../../assets/img/main-icon.png" alt="main-icon">
  </div>
  <div class="main-box">
    <div class="title box">
      <h1>Bienvenido</h1>
    </div>
    <div class="contain-box">
      <p>
        Mediante RollCall-QR podras marcar tu asistencia de forma más expedita sin complicaciones
      </p>
      <p>
        <small>
          <i>
            Si cuentas con tu correo institucional puedes iniciar sesion con tu correo y contraseña de la plataforma
          </i>
        </small>
      </p>
    </div>
    <div class="btn-box">
      <button class="main-btn" (click)="redirect()">iniciar</button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="footer-title">{{footerTitle}}</ion-title>
  </ion-toolbar>
</ion-footer>
