


.title-with-icon {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 2px;
}

// .qr-icon{
//   border: 1px solid #fff;
//   border-radius: 20%;
//   font-size: 28px;
//   margin-left: 4px;
//   position: relative;
//   top: 4px;
//   padding: 1px;
// }

.main-img-box{
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
  box-shadow: 1px 1px 8px 1px #240026;
  border-radius: 10%;
}

.main-img{
  margin-top: 1rem;
  padding-top: 1rem;
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
}

.main-box{
  margin-top: 5rem;
  text-align: center;
}

.contain-box{
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
}

.contain-box p{
  color:#150016;
  text-shadow: 1px 1px 1px #a6a6a6;
}

.btn-box{
  margin-top: 3rem;
}

.main-btn {
  width: 80%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  color: #150016;
  text-shadow: 1px 1px #c8c8c8;
  text-transform: uppercase;
  border-radius: 20px;
  border: 2px solid #150016;
  box-shadow: 1px 5px #150016;
  transition: background-color 0.3s, transform 0.2s;
}

.main-btn:active {
  background-color: #000;
  color: #fff;
  transform: scale(0.95);
}

.footer-title{
  text-align: center;
  font-size: 18px;
  color: #150016;
}

.log-out{
  margin-top: 500px;
}
