ion-content {
  --background: linear-gradient(to bottom, #9765DE, #6444B3);
}

.title-with-icon {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 2px;
}

.main-img-box{
  width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 10%;
}

.main-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 20%;

}

.main-box{
  margin-top: 5rem;
  text-align: center;
}

.contain-box{
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
}

.contain-box p{
  color:#FFFDFF;
  text-shadow: 1px 2px #000000;
}

.btn-box{
  margin-top: 3rem;
}

.main-btn {
  width: 80%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: #9765DE;
  color:#FFFDFF;
  text-shadow: 1px 1px #000000;
  text-transform: uppercase;
  border-radius: 20px;
  border: 2px solid #150016;
  box-shadow: 1px 5px #150016;
  transition: background-color 0.3s, transform 0.2s;
}

.main-btn:active {
  background-color: #000;
  color: #fff;
  transform: scale(0.95);
}

.footer-box{
  --background: #9765DE;
}

.footer-title{
  text-align: center;
  font-size: 18px;
  color: #FFFDFF;
  text-shadow: 2px 2px #000000;
}

