.title-with-icon {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 2px;
}
.qr-icon{
  border: 1px solid #fff;
  border-radius: 20%;
  font-size: 28px;
  margin-left: 4px;
  position: relative;
  top: 4px;
  padding: 1px;
}

.main-img{
  object-fit:cover;
  height: 300px;
  width: 100%;
}

.main-box{
  margin-top: 1rem;
  text-align: center;
}

.contain-box{
  width: 80%;
  margin: 0 auto;
}

.contain-box p{
  margin-bottom: 20px;
}

.contain-box p small {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.btn-box{
  margin-top: 2rem;
}

.main-btn {
  width: 70%;
  background-color: #fff;
  color: #000;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.main-btn:active {
  background-color: #000;
  color: #fff;
  transform: scale(0.95);
}

.footer-title{
  text-align: center;
  font-size: 18px;
}
