<ion-content>
  <div class="main-img-box">
    <img class="main-img" src="https://i.imgur.com/OgoFwjn.png" alt="main-icon">
  </div>
  <div class="main-box">

    <div class="contain-box">
      <p>
       RollCall-QR te permite marcar tu asistencia de forma rápida y sencilla
      </p>
    </div>
    <div class="btn-box">
      <button class="main-btn" (click)="redirect()">empezar</button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-box">
    <ion-title class="footer-title">{{footerTitle}}</ion-title>
  </ion-toolbar>
</ion-footer>
