
.main-picture{
  border: 1px solid #000;
  border-radius: 50%;
  object-fit: contain;
  box-shadow: 1px 1px 5px 1px #000;
  margin-top: 2rem;
}

.title-user-box{
  text-align: center;
}

.footer-title{
  text-align: center;
  font-size: 18px;
}
