@import '../../../theme/variables.scss';

ion-content {
  --background: var(--background-color);
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}


.profile-picture-box{
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  width: 105px;
}

.main-content{
  border: 1px  solid red;
  display: inline-block;
}

.main-picture{
  border-radius: 100%;
  width: 300px;
  height: 300px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  box-shadow: 1px 1px 5px 1px #000;
  margin: 0 auto;
  background-color: #fff;
}

.title-user-box{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  border: 1px solid #000;
}

.main-card{
  padding: 1rem;
  margin-top: 2rem;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  box-shadow: none;
  width: 100%;
  margin: 0 auto;
  background-color:transparent;
  border: 1px solid #000;
}

.card-logo{
  width: 80px;
  height: 80px;
  box-shadow: 1px 1px 8px #000;
  border-radius: 10px;
  object-fit: fill;
  align-items: center;
  margin-top: 0.8rem;
}

.card-content p {
  text-align: center;
  letter-spacing: 1px;
  border: 1px solid #000;

}

ion-icon, ion-title, ion-label, ion-menu-button{
  color: #FFFDFF;
  text-shadow: var(--text-shadow);
  letter-spacing: 2px ;
}

ion-item{
  --background: linear-gradient(90deg, rgba(151, 101, 222, 1), rgba(100, 68, 179, 0.9));
}

.menu-label{
  color: #FFFDFF;
  text-shadow: var(--text-shadow);
}

.footer-box{
  --background: var(--footer-color);
}

.footer-title{
  text-align: center;
  font-size: 18px;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  letter-spacing: 2px;
}

