@import '../../../theme/variables.scss';

ion-content {
  --background: var(--background-color);
}

.header-toolbar{
  --background: linear-gradient(45deg, #a657fa,#7d21b6 ,#6A1B9A);
  --color:var(--text-color);
  text-shadow: var(--text-shadow);
}

.profile-container {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.profile-picture-box{
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.main-picture{
  border-radius: 100%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: 1px 1px 5px 1px #000;
  background-color: #fff;
}

.title-user-box{
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--sub-text-color);
}

#card-content-welcome {
  color: #fff;
  text-shadow: 1px 2px #150016;
}

h3 {
  font-size: 18px;
}

.main-card {
  --background: linear-gradient(90deg, rgb(173, 115, 255),rgba(151, 101, 222, 1), rgba(100, 68, 179, 0.9));
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  box-shadow: none;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 8.4%;
  border-radius: 0%;
  border-top-right-radius:20px;
  border-top-left-radius:20px;
  border: 1px solid var(--shadow-color);
  box-shadow: 1px 1px 8px 2px var(--shadow-color);
}

.card-content p {
  text-align: center;
  letter-spacing: 1px;
  margin-top:20px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-box {
  width: 300px;
  height: 80px;
  margin-bottom: 1rem;
  object-fit: cover;
}

ion-icon, ion-title, ion-label, ion-menu-button{
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  letter-spacing: 2px ;
}

ion-item{
  --background: linear-gradient(90deg, rgba(151, 101, 222, 1), rgba(100, 68, 179, 0.9));
}

.menu-label{
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}

.main-list{
  background-color:rgba(151, 101, 222, 1);
  height: 100%;
}

.footer-box {
  --background: linear-gradient(90deg, rgba(151, 101, 222, 1), rgba(100, 68, 179, 0.9));
}

.footer-title{
  text-align: center;
  font-size: 18px;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  letter-spacing: 2px;
}