<ion-content [fullscreen]="true">
  <ion-menu side="end" contentId="main-content" class="main-menu">
    <ion-header class="menu-content">
      <ion-toolbar class="menu-content" style="--background: linear-gradient(90deg, rgba(151, 101, 222, 1), rgba(100, 68, 179, 0.9));">
        <ion-title>Menu</ion-title>
        <ion-buttons slot="end">
          <ion-menu-toggle auto-hide="false">
            <ion-button>
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="main-list">
        <ion-item button>
          <ion-avatar class="profile-avatar">
            <ion-icon size="large" name="id-card-outline"></ion-icon>
          </ion-avatar>
          <ion-label class="menu-label" (click)="redirect_profile()">Perfil</ion-label>
        </ion-item>
        <ion-item button>
          <ion-avatar class="signature-avatar">
            <ion-icon size="large" name="book-outline"></ion-icon>
          </ion-avatar>
          <ion-label class="menu-label" (click)="redirect_subjects()">Asignaturas</ion-label>
        </ion-item>
        <ion-item button>
          <ion-avatar class="calendar-avatar">
            <ion-icon size="large" name="calendar-outline"></ion-icon>
          </ion-avatar>
          <ion-label class="menu-label" (click)="redirect_404()">Calendario</ion-label>
        </ion-item>
        <ion-item button>
          <ion-avatar class="group-avatar">
            <ion-icon size="large" name="people-outline"></ion-icon>
          </ion-avatar>
          <ion-label class="menu-label">Grupos de estudio</ion-label>
        </ion-item>
        <ion-item button (click)="redirect_404()">
          <ion-avatar class="news-avatar">
            <ion-icon size="large" name="newspaper-outline"></ion-icon>
          </ion-avatar>
          <ion-label class="menu-label">Noticias</ion-label>
        </ion-item>
        <ion-item button (click)="redirect_404()">
          <ion-avatar class="events-avatar">
            <ion-icon size="large" name="ticket-outline"></ion-icon>
          </ion-avatar>
          <ion-label class="menu-label">Eventos</ion-label>
        </ion-item>
        <ion-item button (click)="toggleDarkMode()">
          <ion-avatar class="dark-mode-avatar">
            <ion-icon size="large" [name]="darkModeEnabled ? 'sunny-outline' : 'moon-outline'"></ion-icon>
          </ion-avatar>
          <ion-label class="menu-label">Cambiar a {{ darkModeEnabled ? 'Modo Claro' : 'Modo Oscuro' }}</ion-label>
        </ion-item>       
        <ion-item button (click)="logout()">
          <ion-avatar class="logout-avatar">
            <ion-icon size="large" name="log-out-outline"></ion-icon>
          </ion-avatar>
          <ion-label class="menu-label">Salir</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar class="header-toolbar">
        <ion-title>Rollcall-QR <ion-icon class="menu-icon" name="qr-code-outline"></ion-icon></ion-title>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="main-content">
      <div class="profile-container">
          <img class="main-picture" src="https://freesvg.org/img/abstract-user-flat-4.png" alt="profile-img">
        </div>
        <div class="title-user-box">
          <h3>Bienvenido: <strong>Usuario</strong></h3>
          <q><i>Frase del día</i></q>
        </div>
        <ion-card class="main-card">
          <ion-card-content class="card-content">
            <p id="card-content-welcome">¡Bienvenido a nuestra aplicación! Aquí podrás acceder a tu perfil, consultar tus ramos, noticias y eventos. ¡Explora y disfruta!</p>
          </ion-card-content>
          <div class="logo-container">
            <img class="logo-box" src="https://i.imgur.com/5J4tq8t.png" alt="logo">
          </div>
        </ion-card>
    </ion-content>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-box">
    <ion-title class="footer-title">{{footerTitle}}</ion-title>
  </ion-toolbar>
</ion-footer>