.header-toolbar{
  --background: var(--background-color);
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}

.header-title{
  position: relative;
  left: 10px;
}

.login-title{
  color:var(--shadow-color);
}

ion-text p {
  color: var(--shadow-color);
}

.logo{
  object-fit:contain;
  background: linear-gradient(100deg, #a657fa,#7d21b6 ,#6A1B9A);;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  box-shadow: 0.5px 0.5px 5px 1px var(--shadow-color);
  border-radius: 1000px;
}

.login-item{
  box-shadow: 0.5px 0.5px 1px  #000;
  border-radius: 28px;
  border: 1px solid #000;
  margin-bottom: 2rem;
}

.recov-btn{
  width: 100%;
  font-size: 11px;
  height: 45px;
  background: var(--primary-color);
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  border-radius: 20px;
  box-shadow: 1px 5px var(--shadow-color);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-box{
  --background: var(--footer-color);
}

.footer-title{
  text-align: center;
  font-size: 18px;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  letter-spacing: 2px;
}
