@import '../../../theme/variables.scss';

ion-content {
    --background: #FDFDFD;
  }

  .header-toolbar {
    --background: linear-gradient(45deg, #a657fa,#7d21b6 ,#6A1B9A);
    color: #FFFDFF;
    font-weight: bold;
    text-shadow: 1px 2px #150016;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  }

  .has-notes {
    background-color: #FFD700; /* Color dorado para indicar notas */
    border-radius: 50%;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color: white;
  }
