<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button icon="caret-back-outline" defaultHref="/main-menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-datetime button (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)"
   presentation="date" [firstDayOfWeek]="1" (ionChange)="updateSelectedDate($event)"></ion-datetime>

  <div *ngIf="selectedDate && getNotesForSelectedDate().length > 0">
    <ion-card *ngFor="let note of getNotesForSelectedDate()">
      <ion-card-header>
        <ion-card-title>{{ note.date }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ note.content }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
