@import '../../../theme/variables.scss';

ion-content {
  --background: var(--background-color);
}

.header-toolbar{
  --background: linear-gradient(45deg, #a657fa,#7d21b6 ,#6A1B9A);
  color: #FFFDFF;
  font-weight: bold;
  text-shadow: 1px 2px #150016;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.news-list {
    padding: 10px;
    background-color: var(--background-color); 
  }
  
  ion-card {
    margin-bottom: 15px;
    background-color: var(--news-card-background); 
    color: var(--news-card-text-color); 
    border: 1px solid var(--news-card-border); 
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out;
  }
  
  ion-card img {
    width: 100%;
    height: auto;
  }
  
  ion-card-header {
    background-color: var(--news-card-header-background); 
    padding: 10px;
    border-bottom: 1px solid var(--news-card-border); 
  }
  
  ion-card-title {
    font-weight: bold;
    color: var(--news-card-title-color); 
    font-size: 1.2rem;
  }
  
  ion-card-content {
    padding: 10px;
    color: var(--news-card-text-color); 
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .no-news {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: var(--sub-text-color); 
  }
  