@import '../../../theme/variables.scss';

ion-content {
  --background: var(--background-color);
}

.header-toolbar {
  --background: linear-gradient(45deg, #a657fa,#7d21b6 ,#6A1B9A);
  color: #FFFDFF;
  font-weight: bold;
  text-shadow: 1px 2px #150016;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.modern-profile-card {
  margin-top: 2rem;
  background-color: var(--profile-background);
  border-radius: 15px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.title{
  margin-left: 25px;
}

.profile-header {
  display: flex;
  align-items: center;
  padding: 20px;
  --background:linear-gradient(45deg, #a657fa,#7d21b6 ,#6A1B9A);
  color: white;
}

 img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  object-fit: cover;
  margin-bottom: 1rem;
  background-color: #fff;
}

.image-btn {
  position: absolute;
  top: 10px; 
  right: 10px; 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(18, 30, 75); 
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
  padding: 0;
  z-index: 10; 
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.image-btn:hover { 
  transform: scale(1.1); 
}

ion-icon {
  font-size: 18px;
}

.student-name {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
  color: #FFFDFF;
  text-shadow: 1px 2px #150016;
}

.student-major {
  font-size: 1rem;
  margin: 5px 0;
  opacity: 0.8;
  color: #FFFDFF;
  text-shadow: 1px 2px #150016;
}

.profile-info-row {
  padding: 10px 0;
  font-size: 0.95rem;
  border-top: 1px solid #eeeeee;
  border-top: 1px solid var(--profile-row-border);
  color: var(--profile-row-text-color);
}

.footer-box{
  --background: linear-gradient(90deg, rgba(151, 101, 222, 1), rgba(100, 68, 179, 0.9));
}

.footer-title{
  text-align: center;
  font-size: 18px;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  letter-spacing: 2px;
}