<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button icon="caret-back-outline" defaultHref="/main-menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Perfil de Usuario <ion-icon class="menu-icon" name="qr-code-outline"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="modern-profile-card">
    <ion-card-header class="profile-header">
      <div class="image-container">
        <img [src]="profileImage || 'https://freesvg.org/img/abstract-user-flat-4.png'" alt="Foto de perfil" />
        <button class="image-btn" (click)="changeProfileImage()">
          <ion-icon name="camera-outline"></ion-icon>
        </button>
      </div>
      <div>
        <h2 class="student-name">Hola: {{firstName}} {{lastname}}!</h2>
        <p class="student-major">{{school}}</p>
      </div>
    </ion-card-header>
    <ion-card-content class="main-conte">
      <ion-grid>
        <ion-row class="profile-info-row">
          <ion-col><strong>Carrera: </strong>{{career}}</ion-col>
        </ion-row>
        <ion-row class="profile-info-row">
          <ion-col><strong>Año: </strong>{{yearAtending}}</ion-col>
        </ion-row>
        <ion-row class="profile-info-row">
          <ion-col><strong>Semestre:</strong> {{careerSemester}}</ion-col>
        </ion-row>
        <ion-row class="profile-info-row">
          <ion-col><strong>Sede:</strong> {{headquarters}}</ion-col>
        </ion-row>
        <ion-row class="profile-info-row">
          <ion-col><strong>Correo: </strong> {{email}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-box">
    <ion-title class="footer-title">{{footerTitle}}</ion-title>
  </ion-toolbar>
</ion-footer>