@import '../../../theme/variables.scss';

.header-toolbar{
  --background: linear-gradient(45deg, #a657fa,#7d21b6 ,#6A1B9A);
  --color:var(--text-color);
  text-shadow: var(--text-shadow);
}

.modern-profile-card {
  margin-top: 2rem;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.title{
  margin-left: 25px;
}

.profile-header {
  display: flex;
  align-items: center;
  padding: 20px;
  --background:linear-gradient(45deg, #a657fa,#7d21b6 ,#6A1B9A);
  color: white;
}

 img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  border-radius: 50%;
  object-fit: fill;
  margin-bottom: 1rem;
  background-color: #fff;
}

.student-name {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

.student-major {
  font-size: 1rem;
  margin: 5px 0;
  opacity: 0.8;
}


.profile-info-row {
  padding: 10px 0;
  font-size: 0.95rem;
  border-top: 1px solid #eeeeee;
}


.footer-box {
  --background: linear-gradient(90deg, rgba(151, 101, 222, 1), rgba(100, 68, 179, 0.9));
}

.footer-title {
  text-align: center;
  font-size: 18px;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  letter-spacing: 2px;
}
