:root {
  /* Variables para el modo claro */
  --primary-color: rgba(151, 101, 222, 1);
  --secondary-color: rgba(100, 68, 179, 0.9);
  --text-color: #FFFDFF;
  --text-shadow: 1px 2px #150016;
  --sub-text-color: #150016;
  --shadow-color: #150016;
  --footer-color: rgba(151, 101, 222, 0.9);
  --background-color: #FDFDFD;

  --news-card-background: #ffffff;
  --news-card-text-color: #333333;
  --news-card-border: #ddd;
  --news-card-header-background: #f3f3f3; 
  --news-card-title-color: #333333; 
}

body.dark {
  /* Variables para el modo oscuro */
  --primary-color: #2D2A45;
  --secondary-color: #1A1830;
  --text-color: #150016;
  --sub-text-color: #FFFFFF;
  --text-shadow: 1px 2px rgba(255, 255, 255, 0.3);
  --footer-color: #3C3B5A;
  --background-color: linear-gradient(to bottom, #2D2A45, #1A1830);

  --news-card-background: #333333;
  --news-card-text-color: #f0f0f0;
  --news-card-border: #555555;
  --news-card-header-background: #444444; 
  --news-card-title-color: #f0f0f0; 
}
