<ion-content>
  <div class="title-box">
    <h2>Ingresa con tus credenciales</h2>
    <p>
      Debes ingresar con tu correo institucional y contraseña
    </p>
  </div>

  <div class="main-img-box">
    <img class="main-img" src="../../../assets/img/main-icon.png" alt="main-icon">
  </div>

  <div class="form-box">
    <form (submit)="validateLogin()">
        <div class="input-email-box">
          <label for="input-email">Correo</label>
          <input type="email" [(ngModel)]="email" name="email" id="input-email" required>
        </div>
        <div class="input-password-box">
          <label for="input-password">Contraseña</label>
          <div class="password-wrapper">
            <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password" id="input-password" required>
            <ion-icon [name]="showPassword ? 'eye-off' : 'eye'" (click)="togglePassword()" class="password-icon"></ion-icon>
          </div>
        </div>
        <div class="btn-box">
          <button type="submit" class="main-btn">Login</button>
        </div>
        <ion-button fill="clear" color="medium" (click)="redirect()">¿Olvidaste tu contraseña?</ion-button>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="footer-title">{{footerTitle}}</ion-title>
  </ion-toolbar>
</ion-footer>
