<ion-content>
  <div class="main-img-box">
    <img class="main-img" src="https://i.imgur.com/5J4tq8t.png" alt="main-icon">
  </div>

  <div class="form-box">
    <form (submit)="validateLogin()">
        <div class="input-email-box">
          <label for="input-email">Correo</label>
          <input type="email" [(ngModel)]="email" name="email" id="input-email" placeholder="@duocuc.cl" required>
        </div>
        <div class="input-password-box">
          <label for="input-password">Contraseña</label>
          <div class="password-wrapper">
            <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password" id="input-password" placeholder="************" required>
            <ion-icon [name]="showPassword ? 'eye-off' : 'eye'" (click)="togglePassword()" class="password-icon"></ion-icon>
          </div>
        </div>
        <div class="btn-box">
          <button type="submit" class="main-btn">Iniciar Sesión</button>
        </div>
        <ion-button class="recovery-btn" fill="clear"  (click)="redirect()">¿Olvidaste tu contraseña?</ion-button>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-box">
    <ion-title class="footer-title">{{footerTitle}}</ion-title>
  </ion-toolbar>
</ion-footer>
