@import '../../../../theme/variables.scss';

ion-content {
  --background:#FDFDFD;
}

.header-toolbar{
  --background: linear-gradient(45deg, #a657fa,#7d21b6 ,#6A1B9A);
  --color:var(--text-color);
  text-shadow: var(--text-shadow);
}

.main-card{
  background:#fff;
  margin-top: 1rem;
  border: 1px solid #000;
  box-shadow: 1px 1px 8px var(--shadow-color);

}

.header-card {
  display: flex;
  align-items: center;
  background: linear-gradient(45deg, #a657fa,#7d21b6 ,#6A1B9A);
  padding: 10px;
  height: 150px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 2px 6px var(--shadow-color);
}

.prof-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
}

.prof-avatar {

  width: 150px;
  height: 110px;
  margin-right: 20px;
}

.prof-img{
  border: 1px solid #000;
  border-radius: 150px;
  width: 150px;
  height: 110px;
  object-fit:cover ;
}

.prof-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1.5rem;
}

.prof-title {
  margin: 0;
  color: white;
}

.prof-subtitle {
  margin-top: 5px;
  color: white;
  font-size: 12px;
  text-transform:uppercase;
}

.subject-content{
  margin-top: 2rem;
}

.sub-title {
  color: #000;
  text-align: center;
}
.sub-title  p{
  color: #000;
  text-align: center;
  font-size: 12px;
}

.sub-state, .sub-amount, .sub-porcent{
  display: block;
  margin-top: 2rem;
  font-size: 18px;
}

ion-text p b{
  color: var(--shadow-color);
  margin-right: 2px;
}

ion-text p {
  color: rgba(0, 0, 0, 0.756);
  margin-right: 2px;
}

.qr-box {
  margin: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.qr-box button {
  background-color: #020202; /* Color verde */
  color: #fff;
  border: none;
  border-radius: 100%;
  padding: 10px 16px;
  font-size: 2rem;
  transition: transform 0.2s ease, background-color 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  object-fit: fill;
  padding-bottom: 5px;
}

.qr-box button ion-icon {
  font-size: 1.5em;
}

.qr-box button:hover {
  background-color: #ffffff; /* Un tono verde más oscuro */
  color: #000;
  border-radius: 2px solid #000;
  transform: scale(1.05); /* Efecto de agrandamiento */
}

.qr-box button:active {
  transform: scale(0.95); /* Efecto de reducir al hacer click */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más pequeña */
  background-color: #fff;
  color: #000;
  border-radius: 2px solid #000;
}


.footer-title{
  text-align: center;
  font-size: 18px;
}
