<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button icon="caret-back-outline" defaultHref="/subjects"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">{{subjectDetail?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="main-card" *ngIf="subjectDetail">
    <ion-card-header class="header-card">
      <div class="prof-container">
        <ion-avatar class="prof-avatar">
          <img class="prof-img" alt="Profile image" [src]="subjectDetail.profileImg" />
        </ion-avatar>
        <div class="prof-text">
          <ion-card-title class="prof-title">| Profesor del Curso</ion-card-title>
          <ion-card-subtitle class="prof-subtitle">{{ subjectDetail.teacher }}</ion-card-subtitle>
        </div>
      </div>
    </ion-card-header>

    <ion-card-content class="subject-content">
      <ion-text class="sub-title">
         <h2>
           <b>
             {{subjectDetail.title}}
           </b>
         </h2>
         <p>{{subjectDetail.section}}</p>
      </ion-text>
      <ion-text class="sub-state">
        <p><b>Estado:</b> {{ subjectDetail.state }}</p>
      </ion-text>
      <ion-text class="sub-amount">
        <p><b>Total de clases:</b> {{ subjectDetail.classes }}</p>
      </ion-text>
      <ion-text class="sub-amount">
        <p><b>Total de clases asistidas:</b> {{ subjectDetail.classes }}</p>
      </ion-text>
      <ion-text class="sub-porcent">
        <p><b>Porcentaje de asistencia:</b> {{ subjectDetail.asistance }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <div class="qr-box">
    <button (click)="openCamera()">
      <ion-icon  name="qr-code-sharp"></ion-icon>
    </button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="footer-title">{{footerTitle}}</ion-title>
  </ion-toolbar>
</ion-footer>