@import '../../../../theme/variables.scss';

ion-content {
  --background: var(--background-color);
}

.header-toolbar{
  --background: linear-gradient(45deg, #a657fa,#7d21b6 ,#6A1B9A);
  color: #FFFDFF;
  font-weight: bold;
  text-shadow: 1px 2px #150016;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.loading-spinner {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 50%; 
}

.main-card {
  background-color: var(--profile-background);
  margin-top: 1rem;
  border: 1px solid var(--profile-row-border);
  box-shadow: 1px 1px 8px var(--shadow-color);
}

.header-card {
  display: flex;
  align-items: center;
  background: linear-gradient(45deg, #a657fa, #7d21b6, #6A1B9A);
  padding: 10px;
  height: 150px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 2px 6px var(--shadow-color);
}

.prof-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
}

.prof-avatar {
  width: 150px;
  height: 110px;
  margin-right: 20px;
}

.prof-img {
  border: 1px solid #000;
  border-radius: 150px;
  width: 150px;
  height: 110px;
  object-fit: cover;
}

.prof-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1.5rem;
}

.prof-title {
  margin: 0;
  font-weight: bold;
  color: #FFFDFF;
  text-shadow: 1px 2px #150016;
}

.prof-subtitle {
  margin-top: 5px;
  opacity: 0.8;
  color: #FFFDFF;
  text-shadow: 1px 2px #150016;
  font-size: 12px;
  text-transform: uppercase;
}

.sub-title {
  color: var(--text-color);
  text-align: center;
  font-size: 18px;
}

.sub-title p {
  color: var(--text-color);
  text-align: center;
  font-size: 14px;
}

.sub-state,
.sub-amount,
.sub-porcent {
  display: block;
  margin-top: 2rem;
  font-size: 16px;
  color: var(--profile-row-text-color);
}

ion-text p b {
  color: var(--profile-row-text-color);
  margin-right: 2px;
}

ion-text p {
  color: var(--profile-row-text-color);
  margin-right: 2px;
}

.reset-button {
  position: absolute;
  top: 5px; 
  right: 5px; 
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(18, 30, 75); 
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  padding: 0;
  z-index: 10; 
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.subject-content {
  margin-top: 2rem;
  background-color: var(--profile-background);
  border: 1px solid var(--profile-row-border);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.subject-content h2 {
  color: var(--profile-row-text-color);
}

.subject-content p {
  color: var(--profile-row-text-color);
}

.sub-state,
.sub-amount,
.sub-porcent {
  display: block;
  margin-top: 2rem;
  font-size: 18px;
}

.qr-box {
  margin: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.qr-box button {
  background: linear-gradient(45deg, #a657fa,#7d21b6 ,#6A1B9A);
  color: #fff;
  border: none;
  border-radius: 100%;
  padding: 10px 16px;
  font-size: 2rem;
  transition: transform 0.2s ease, background-color 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  object-fit: fill;
  padding-bottom: 5px;
}

.qr-box button ion-icon {
  font-size: 1.5em;
}

.qr-box button:hover {
  background: linear-gradient(45deg, #7d21b6, #a657fa, #9c4dcc);
  border-radius: 2px solid #000;
  transform: scale(1.05);
}

.qr-box button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #6A1B9A, #7d21b6, #a657fa); 
  color: #fff;
  border-radius: 2px solid #000;
}

.footer-title{
  text-align: center;
  font-size: 18px;
}

ion-modal {
  --background: var(--background-color);
  --width: 90%; 
  --border-radius: 15px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  --padding: 1rem;
}

