<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button icon="caret-back-outline" defaultHref="/main-menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center login-content">

  <ion-title class="title-logo">
    <img class="card-logo" src="https://i.imgur.com/5J4tq8t.png" alt="logo">
  </ion-title>

  <hr>

  <ion-spinner *ngIf="isLoading" class="loading-spinner"></ion-spinner>

  <ion-list class="subjects-list" *ngIf="!isLoading">
    <ion-item class="list-item" *ngFor="let subject of subjects" [routerLink]="['/subjects', subject.id]" button>
      <ion-avatar slot="start">
        <ion-img [src]="subject.imageURL"></ion-img>
      </ion-avatar>
      <ion-label class="subject-label">
        <div class="subject-title">{{subject.title}}</div>
        <div class="subject-section"><small>| {{subject.section}}</small></div>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<!-- <ion-footer>
  <ion-toolbar class="footer-box">
    <ion-title class="footer-title">{{footerTitle}}</ion-title>
  </ion-toolbar>
</ion-footer> -->