.title{
  margin-left: 40px;
}

.title-logo{
  box-shadow: 1px 1px 8px #000;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  object-fit: fill;
}


.footer-title{
  text-align: center;
  font-size: 18px;
}
